<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/contact.css">
    <link rel="stylesheet" href="../static/css/menu.css">

    <title>Contact Us</title>
  </head>
  <body>
    <!-- <div style="display: flex;justify-content: center;">
      <ul class="menu">
        <ul>
          <li><a href="/"><img src="../static/images/sol-logo.png" style="width:15%" alt="Home" title="Home"></a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/manufacturing">Manufacturing</a></li>
          <li><a href="/solar">Solar Generation</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </ul>
    </div> -->

    <div id="topMenuSection">

      <div id="topLeftSection">
        <a href="/" class="menuLink">
          <img src="../static/images/sol-logo.png" id="logoHome" alt="Home" title="Home">
        </a>
      </div>
      
      <div id="topMenuItemsSection">

          <ul id="menuItemList">

              <li class="menuItem">
              </li>

              <li class="menuItem">
                  <a href="/contact" class="menuLink"><p class="menuText">Contact Us</p></a>
              </li>
              <li class="menuItem">
                  <a href="/manufacturing" class="menuLink"><p class="menuText">Manufacturing</p></a>
              </li>
              <li class="menuItem">
                  <a href="/solar" class="menuLink"><p class="menuText">Solar Generation</p></a>
              </li>
              <li class="menuItem">
                  <a href="/login" class="menuLink"><p class="menuText">Login</p></a>
              </li>

          </ul>
      </div>

      <div id="topRightSection">

      </div>

    </div>

    <div class="midSection">

      <div id="contactInformationSection">
        <p id="contactInfoLabel">Contact<br>Information</p>
        <p id="contactInfoDescription">Welcome to SoleZonSolis Energy, we are happy to answer any questions you might have about our services. Please fill out the contact us form and we will get back to you shortly!</p>
        <p id="contactInfoPhoneNumber">Phone Number<br>778-330-2389</p>
        <p id="contactInfoEmail">Email Address<br>test@test.com</p>
      </div>

      <div id="contactFormSection">

        <p id="contactFormLabel">Contact Us Form</p>
        <form id="contactForm">
          <p class="contactLabel">Name</p>
          <input type="text" id="contactName" name="contactName" required/>
          <p class="contactLabel">Email Address</p>
          <input type="email" id="contactEmail" name="contactEmail" required/>
          <p class="contactLabel">Phone Number</p>
          <input type="text" id="contactPhoneNumber" name="contactPhoneNumber" required/>
          <p class="contactLabel">File Upload</p>
          <input type="file" id="contactFile" name="contactFile"/>
          <!--FILE UPLOAD    >:(   UGH WHY!!! -->
          <p class="contactLabel"></p>
          <input type="submit" id="contactSubmit" value="Submit"/>
        </form>

      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <div id="bottomMenuSection">
      
      <div id="topMenuItemsSection">

          <ul id="menuItemList">

              <li class="menuItem">
                  <a href="/" class="menuLink">
                    <div id="backgroundImgVita">
                      <p class="menuText">   </p>
                    </div>
                  </a>
              </li>

              <li class="menuItem">
                  <a href="/manufacturing" class="menuLink">
                    <p class="menuText">Subscribe to Newsletter</p>
                  </a>
              </li>
              <li id="bigMenuItem">
                  <a href="/contact" class="menuLink"><p class="bigMenuText">Contact Us</p></a>
                  <a href="/manufacturing" class="menuLink"><p class="bigMenuText">Manufacturing</p></a>
                  <a href="/solar" class="menuLink"><p class="bigMenuText">Solar Generation</p></a>
              </li>

          </ul>
      </div>

    </div>
    
  </body>
  
  <!-- <footer>
    <div>
      <ul class="bottomMenu">
        <ul>
          <li><a href="/"><img src="../static/images/vitavehiculum.png" style="width:15%" alt="Vita Vehiculum" title="Home"></a></li>
          <li><a href="/">Subscribe to Newsletter</a></li>
          <li><a href="/">Links to Stuff</a></li>
        </ul>
      </div>
    </div>
  </footer> -->

</html>