body {
    box-sizing: border-box;
}

.menu {
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(37, 31, 31);
    left: 200px;
    display: flex;
    justify-content: center;
}

li {
    left: 200px;
    display: inline;
    padding: 10px;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

li a {
    left: 200px;
    padding: 33px 35px;
    float: center;
    text-decoration: none;
    color: white;
}